@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./fonts/BricolageGrotesque.ttf') format('truetype');
}

body {
  font-family: 'Bricolage Grotesque';
}

.chat-screen {
  min-height: 100vh;
  background-color: #f8f9fa;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.story-bar {
  overflow-x: auto;
  white-space: nowrap;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}

.story-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-indicator {
  height: 3px;
  background-color: #FFAC90;
  border-radius: 2px;
}

.chat-scroll-area {
  flex: 1;
  overflow-y: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.chat-scroll-area::-webkit-scrollbar {
  width: 6px;
}

.chat-scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.chat-item + .chat-item {
  border-top: 1px solid #eee;
}

.unread-badge {
  background-color: #C20001;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 12px;
  margin-top: 4px;
}



/* Navigation */
/* Navigation */
.navbar.fixed-bottom {
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  font-size: 0.75rem;
}

.navbar a img {
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.navbar a.active img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(92%) saturate(5471%) hue-rotate(356deg) brightness(88%) contrast(124%);
  opacity: 1;
}


