@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./fonts/BricolageGrotesque.ttf') format('truetype');
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.signup-btn {
  background: linear-gradient(to right, #C20001, #5C0000);
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.eye-button {
  cursor: pointer;
}

.custom-checkbox {
  border: 2px solid #C20001;
}

.custom-checkbox:checked {
  background-color: #C20001;
  border-color: #C20001;
}

.social-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.divider-line {
  height: 1px;
  background: linear-gradient(to right, transparent, #FF5315, transparent);
  opacity: 0.5;
}
.eye-icon-inside {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #6c757d;
}
